.col-1-3{
    clear:both;
    display: block;
    margin-left: 0px;
}

#overskrift{
    clear: both;
    display: inline-block;
}

.contactIMG{
    display: inline-block;
    float: left;
}

.contactFieldTitle {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 500px;
}

#ContactTextField{
    height: 500px;
}