/*
  About
*/
.grid-about {
  grid-row: 1;
  grid-column: 2/12;
}

.grid-aboutText {
  grid-row: 1;
  grid-column: 1/7;
  float: left;
  width: 50%;
}

.grid-aboutImg {
  grid-row: 1;
  grid-column: 7/13
}

.aboutArticle {
  margin-top: 50px;
}

.aboutimg {
  margin-left: 20px;
  float: right;
}

.aboutIntroHeader {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fa4b89;
}

.aboutArticleHeader {
  grid-row: 2;
  grid-column: 2/12;
  font-size: 30px;
  color: #fa4b89;
  margin-top: 50px;
}

.aboutSection {
  grid-row: 3;
  grid-column: 2/12;
}

/*
  About members section
*/

.contactProfileImage {
  height: auto;
  padding: 0 15px 0 0;
  float: left;
  display: block;
  min-width: 245px;
}

.contactBox {
    background: #ffffff;
    width: 30%;
    height: 320px;
    display: inline-block;
    border-left: 6px solid #fa4b89;
    min-width: 442px;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-right: 5.0%;
}

@media (max-width: 1785px) {
  .CBStart {
    margin-left: 5%;
  }
}

@media (max-width: 1262px) {

  .grid-aboutText {
    width: 100%;
  }

  .aboutimg {
    float: left;
  }

}

.CBLast {
  margin-right: 0;
}

.rowSpacing {
  margin-top: 50px;
}

.contentText {
  margin-top: 80px;
}

.contactProfileName {
  color: #fa4b89;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.fa {
  margin-top: 20px;
  float: left;
}
