/*
  Categorie
*/

.category {
    margin-top: 50px;
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 10px;
    background-color: #fafafa;
}

.categorieButton {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    margin-left: 5px;
    background-color: #fa4b89;
    color: white;
    border: 1px solid white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.categorieButton:hover {
    background-color: white;
    color: #fa4b89;
    border-color: #fa4b89;
    cursor: pointer;
}

.searchbar {
    display: inline-block;
    width: 100%;
    max-width: 50%;
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
}

/*
  Selector styling
*/

.selectors {
    float: left;
}

select {
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 20px;
    margin-right: 10px;
}

select:hover {
    cursor: pointer;
}

select > option {
    color: black;
}

label {
    font-size: 20px;
    color: #595959;
}

/*
  Categories Grid
*/
.grid-category {
    grid-row: 1;
    grid-column: 2/12;
    height: 57px;
}

.grid-selectors {
    grid-row: 1;
    grid-column: 1/7;
}

.grid-searchbar {
    grid-row: 1;
    grid-column: 6/13;
}

.grid-sectionArticles {

    grid-row: 2;
    grid-column: 2/9;
}


/* Featured article */

h3 {
    font-size: large;
    margin: 10px 10px;
    color: #fa4b89;
}

.featuredArticle h4 {
    margin: 10px 10px;

}

.grid-sectionFeatured {
    grid-column: 9/12;
    grid-row: 2;
}

.featuredArticle {
    margin-top: 50px;
    margin-left: 20px;
    border: 1px solid #dedede;
    border-radius: 2px;
    background-color: #f2f2f2;
    overflow: auto;
    /*cursor: pointer;*/
}

.featuredArticle-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom:10px;
}