/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'helvetica';
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
.exampleWidth {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
/*
  navbar
*/
.logoHeader {
  font-size: 30px;
  padding: 25px 0;
}
.navbar-background {
  background-color: #0d0d0d;
  border-bottom: 5px solid #fa4b89;
}
.navbar {
  overflow: hidden;
}
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding: 12px 16px 10px 16px;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #fa4b89;
}
.navbar li:last-child {
  padding-right: 0;
}
.navbar a:hover {
  background-color: #62bfde;
  border-color: #7adef0;
}
.active {
    background-color: #4CAF50;
    color: white;
}
.navbar .hamburgerIcon {
    display: none;
}
@media screen and (max-width: 600px) {
  .navbar li:not(:first-child) {
    display: none;
  }
  .navbar a.hamburgerIcon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive li.hamburgerIcon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}
/*
  Grid
*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 8.3333%);
}
.grid-logo {
  grid-column: 1/2;
  grid-row: 1;
}
.grid-menu {
  grid-column: 2/13;
  grid-row: 1;
}
